.adminContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}

#adminlll {
    display: flex;
}

#adminlll .inputBox > input {
    font-size: large;
    color: #5B8FA9;
}

.adminDeleteSection{
    background-color: rgb(244, 244, 244);
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}