.doublePayingCont {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.airplaneContainer {
  display: flex;
  flex-direction: row;
  gap: 30px;
  height: auto;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}

/*  */

.sseeaatt input[type="checkbox"] {
  position: absolute;
  opacity: 1;
}

.sseeaatt {
  display: flex;
  flex: 0 0 14.2857142857%;
  padding: 5px;
  position: relative;
}

.sseeaatt input[type="checkbox"]:checked + label {
  background: rgb(0, 102, 255);
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  animation-duration: 300ms;
  animation-fill-mode: both;
}
/* .sseeaatt > label > input[type="checkbox"]:disabled + label {
  background: #dddddd;
  text-indent: -9999px;
  overflow: hidden;
  box-shadow: none;
  cursor: not-allowed;
} */

.sseeaatt label {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5rem;
  padding: 4px 0;
  background: lightblue;
  border-radius: 5px;
  animation-duration: 300ms;
  animation-fill-mode: both;
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

.air {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.ssee {
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 40%;
}
